.letrass {
  width: 100px;
  height: 100px;
  background: #fafafa;
  font-size: 80px;
  color: #1b1818;
  cursor: pointer;
  text-align: center;
}
.linhas {
  background: #000066;
  margin-left: auto;
  margin-right: auto;
  border: #fefeff 20px solid;
}

h1 {
  text-align: center;
  color: white;
  animation: borderAnimation 2s forwards;
  display: inline-block;
  padding: 1% 2% 1% 2%;
  width: 22%;
}

.cont {
  padding-top: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#rest {
  background-color: #000066;
  color: white;
  border-radius: 25px;
  padding: 1%;
  width: 25%;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

#rest:hover {
  background-color: white;
  color: #000066;
  font-weight: bold;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

@keyframes borderAnimation {
  0% {
    box-shadow: 0 0 0 0 rgb(4, 61, 247);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
  }
}

@keyframes growAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.animated-text {
  transition: transform 2s;
  animation: borderAnimation 2s forwards, growAnimation 2s forwards;
  display: inline-block;
  background: none;
  color: white;
  font-size: 24px;
}

.btn {
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: right;
}

.btn {
  background-image: url(img/circulo\ preto\ e\ branco.png);
  background-size: cover;
  height: 30px;
  width: 30px;
}

.letra-x {
  color: red;
}

.letra-o {
  color: blue;
}
